/*******************************************************************************
* This file is part of the 3DViewer
*
* Copyright 2022-2026 (C) Revopoint3D AS
* All rights reserved.
*
* Revopoint3D Software License, v1.0
*
* Redistribution and use in source and binary forms, with or without
* modification, are permitted provided that the following conditions are met:
*
* 1. Redistribution of source code must retain the above copyright notice,
* this list of conditions and the following disclaimer.
*
* 2. Redistribution in binary form must reproduce the above copyright notice,
* this list of conditions and the following disclaimer in the documentation
* and/or other materials provided with the distribution.
*
* 3. Neither the name of Revopoint3D AS nor the names of its contributors may be used
* to endorse or promote products derived from this software without specific
* prior written permission.
*
* 4. This software, with or without modification, must not be used with any
* other 3D camera than from Revopoint3D AS.
*
* 5. Any software provided in binary form under this license must not be
* reverse engineered, decompiled, modified and/or disassembled.
*
* THIS SOFTWARE IS PROVIDED BY REVOPOINT3D AS "AS IS" AND ANY EXPRESS OR IMPLIED
* WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
* MERCHANTABILITY, NONINFRINGEMENT, AND FITNESS FOR A PARTICULAR PURPOSE ARE
* DISCLAIMED. IN NO EVENT SHALL REVOPOINT3D AS OR CONTRIBUTORS BE LIABLE FOR ANY
* DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
* (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
* LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
* ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
* (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
* SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
*
* Info:  https://www.revopoint3d.com
******************************************************************************/

/* QWidget */
QWidget {
    /*border: none;*/
    border-style:outset;
    color: rgb(77,77,77);
    font-size: 14px;
    background: transparent;
    /*border: 1px solid red;*/
}

QWidget:focus{
    outline: none;
}

QWidget:disabled {
    color: rgb(128,128,128);
}

QWidget#centralwidget {
    background: rgb(102, 102, 102);
}

QWidget#renderWindow {
    background: rgb(242, 242, 242);
}

QWidget#scrollAreaWidgetContents {
    background: rgb(204, 204, 204);
}

QWidget#topItem {
    background: rgb(204, 204, 204);
    font-size: 16px;
}

QWidget#cameraTopItem {
    background: rgb(204, 204, 204);
}

QWidget#bottomControlArea {
    background: rgb(204, 204, 204);
}

QWidget#cameraButtonArea {
    background: rgb(204, 204, 204);
    border-top: 1px solid rgb(102,102,102);
    
}

QWidget#CaptureSettingWidget, QWidget#CameraInfoWidget {
    background: rgb(204, 204, 204);
}

QWidget#Line
{
    background: rgb(179, 179, 179);
}

QWidget#CSMessageBox {
    background: rgb(179, 179, 179);
}
/* QMenuBar */
QMenuBar {
    background: rgb(179, 179, 179);
}

QMenuBar::item:selected{
    background: rgb(153, 153, 153);
}

QMenu::item{
    background: rgb(179, 179, 179);
}

QMenu::item:selected{
    background: rgb(153, 153, 153);
}

QMenuBar:disabled {
    color: rgb(120, 120, 120);
}

/* QFrame */
QDialog {
    background: rgb(204, 204, 204);
}

/* QPushButton */
QPushButton {
    background: transparent;
}

QPushButton[isCameraButton] {
    height: 52px;
    background: rgb(179, 179, 179);
    border: 1px solid rgb(102, 102, 102);
    border-top: none;
    font-size: 18px;
}

QPushButton[isCameraButton]:checked {
    background: rgb(204, 204, 204);
    border: none;
    outline: none;
}

QWidget#cameraBtnCtlArea QPushButton{
    width: 52px;
    height: 52px;
    border-radius: 4px;
    background-color: rgb(179, 179, 179);
    background-position: center;
    background-repeat: no-repeat;
}

QWidget#cameraPlayerBtnArea QPushButton {
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
}

QPushButton#previewButton{
    background-image: url(:/resources/start_stream.png);
}

QPushButton#previewButton:disabled{
    background-image: url(:/resources/start_stream_disable.png);
}

QPushButton#previewButton:hover{
    background-image: url(:/resources/start_stream_active.png);
}

QPushButton#previewButton:checked{
    background-image: url(:/resources/pause_stream.png);
}

QPushButton#previewButton:checked:disabled{
    background-image: url(:/resources/pause_stream_disable.png);
}

QPushButton#previewButton:checked:hover{
    background-image: url(:/resources/pause_stream_active.png);
}

QPushButton#stopPreviewButton{
    background-image: url(:/resources/stop_stream.png);
}

QPushButton#stopPreviewButton:disabled{
    background-image: url(:/resources/stop_stream_disable.png);
}

QPushButton#stopPreviewButton:hover {
    background-image: url(:/resources/stop_stream_active.png);
}

QPushButton#singleShotButton {
    background-image: url(:/resources/single_shot.png);
}

QPushButton#singleShotButton:disabled{
    background-image: url(:/resources/single_shot_disbale.png);
}

QPushButton#singleShotButton:hover{
    background-image: url(:/resources/single_shot_active.png);
}

QPushButton#captureSingleButton{
    background-image: url(:/resources/save.png);
}

QPushButton#captureSingleButton:disabled{
    background-image: url(:/resources/save_disable.png);
}

QPushButton#captureSingleButton:hover{
    background-image: url(:/resources/save_active.png);
}

QPushButton#captureMultipleButton{
    background-image: url(:/resources/vedio.png);
}

QPushButton#captureMultipleButton:disabled{
    background-image: url(:/resources/vedio_disable.png);
}

QPushButton#captureMultipleButton:hover{
    background-image: url(:/resources/vedio_active.png);
}

QMessageBox QPushButton, QPushButton[isCSStyle] {
    border: 1px solid rgb(140, 140, 140);
    min-width: 92px;
    min-height: 26px;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

QMessageBox QPushButton:hover, QPushButton[isCSStyle]:hover {
    border: 1px solid rgb(0, 169, 255);
    color: rgb(0, 169, 255);
}

QPushButton#CancelButton, QPushButton#OkButton
{
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

QPushButton#CancelButton
{
    background-image: url(:/resources/fork.png);
}

QPushButton#OkButton
{
    background-image: url(:/resources/tick.png);
}

QPushButton#frameIncrease, QPushButton#frameDecrease {
    width: 16px;
    height: 20px;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 3px;
}

QPushButton#frameIncrease:hover, QPushButton#frameDecrease::hover {
    color: rgb(0, 169, 255);
}

QWidget#RoiButtonArea {
    border-radius: 3px;
    background-color: #666666;
}

QWidget#playerRenderWindow, QWidget#CameraPlayerWidget {
    background-color: rgb(240, 240, 240);
}

/*QLabel*/
QLabel {
}

QLabel:hover {
    
}

QLabel[isImage] {
    background: rgb(0, 0, 0);
}

QLabel[fontSize10] {
    font-size: 10px;
}

QLabel[ButtonTitle] {
    font-size: 16px;
}
/*QListWidget*/
QListWidget::item {
    background: transparent;
    height: 30px;
}

QListWidget::item:selected {
    background: transparent;
}

/*CSSwitchButton*/
QWidget#CWSwitchButton QPushButton {
    width: 43px;
    height: 18px;
    color: white;
}

QWidget#CWSwitchButton QPushButton:!checked {
    background: url(:/resources/switch_button_off.png);
}

QWidget#CWSwitchButton QPushButton:checked {
    background: url(:/resources/switch_button_on.png);
}

/*CSLine*/
QFrame#CSLine {
    background: rgb(179, 179, 179);
    margin-top: 15px;
    margin-bottom: 15px;
}

QWidget[isDark] QFrame#CSLine {
    background: rgb(153, 153, 153);
}

/*QComboBox*/
QComboBox {
    min-height: 26px;
    background-color: rgb(179, 179, 179);
    border-radius: 4px;
    border: 1px solid rgb(153,153,153);
    min-width: 120px;
}

QComboBox:disabled {
    background-color: transparent;
}

QComboBox QAbstractItemView {
    background-color: rgb(179, 179, 179);
    border: 1px solid rgb(153,153,153);
}

QComboBox QAbstractItemView::item {
    height: 26px;
    border-bottom: 1px solid rgb(153,153,153);
    outline: 0px;
}

QComboBox QListView::item:hover {
    background-color: rgb(0, 169, 255, 100);
    border: none; 
}

QComboBox QListView::item::selected {
    background-color: rgb(0, 169, 255);
}

QComboBox::drop-down {
    width: 26px;
    border: none;
}

QComboBox::down-arrow {
    image: url(:/resources/arrow_down.png);
}

QComboBox:on {

}

/* CSComboBox*/
QLabel#TitleLabel {
    min-width: 140px;
}

/*QLineEdit*/
QLineEdit {
    border: 1px solid rgb(153, 153, 153);
    height: 26px;
    padding-left: 5px;
    border-radius: 3px;
    background-color: rgb(179, 179, 179);
}

QLineEdit:disabled {
    background: transparent;
}

QLineEdit#frameEdit {
    max-width: 60px;
    min-width: 60px;
}

ParaSettingsWidget QLineEdit {
    max-width: 86px;
    min-width: 86px;
}   

/*QSlider*/
QSlider {
    height: 14px;
}

QSlider::sub-page:Horizontal {
    background-color: rgb(102, 102, 102);
    border-radius: 2px;
}

QSlider::groove:Horizontal {
    border: 1px solid rgb(153,153,153);
    height: 4px;
    background: rgb(153,153,153);
    border-radius: 2px;
}

QSlider::handle:Horizontal {
    height: 4px;
    width: 14px;
    background: rgb(0, 169, 255);
    border-radius: 7px;
    margin-top: -5px;
    margin-bottom: -5px;
}

QSlider::handle:Horizontal:disabled {
    background: rgb(180, 180, 180);
}

QSlider::sub-page:Horizontal:Horizontal:disabled {
    background: rgb(153,153,153);
}

/*QScrollBar*/
QScrollBar:vertical {
    background: rgb(179, 179, 179);
    width: 10px;
}

QScrollBar:horizontal {
    background: rgb(179, 179, 179);
    height: 10px;
}

QScrollBar::handle:vertical {
    background: rgb(230, 230, 230);
    min-height: 20px;
    border: none;
    border-radius: 4px;
}

QScrollBar::handle:horizontal {
    background: rgb(230, 230, 230);
    min-width: 20px;
    border: none;
    border-radius: 4px;
}

QScrollBar::handle:hover {
    background: rgb(230, 230, 230);
}

QScrollBar::add-line {
    background: none;
}

QScrollBar::sub-line {
    background: none;
}

QScrollBar::up-arrow:vertical {
    background-image: url(:/resources/arrow_up_small.png);
    background-position: center;
    background-repeat: no-repeat;
}

QScrollBar::down-arrow:vertical {
    background-image: url(:/resources/arrow_down_small.png);
    background-position: center;
    background-repeat: no-repeat;
}

QScrollBar::left-arrow:horizontal {
    background-image: url(:/resources/arrow_up_small.png);
    background-position: center;
    background-repeat: no-repeat;
}

QScrollBar::right-arrow:horizontal {
    background-image: url(:/resources/arrow_down_small.png);
    background-position: center;
    background-repeat: no-repeat;
}

QScrollBar::add-page, QScrollBar::sub-page {
    background: none;
}

QWidget#ParameterSettingsWidget{
    background: red;
}

/*QTabWidget*/
QTabWidget{
    background:rgb(179, 179, 179);
}

QTabWidget::pane {
    position: absolute;
    border-top: 1px solid rgb(102,102,102);
    background: rgb(242, 242, 242);
    top:-1px;
}

QTabWidget::tab-bar {
    top: 1px;
    left: 0;
}

QTabBar::tab {
    width: 140px;
    height: 40px;
    border: 1px solid rgb(102, 102, 102);
    border-left: none;
    border-top:none;
    background: rgb(179, 179, 179);
    font-size: 18px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
    background: rgb(242, 242, 242);
    border-bottom: none;
}

RenderWindow RenderWidget {
    background: transparent;
}

RenderWidget{
    border: 1px solid rgb(200, 200, 200);
}

QTabWidget RenderWidget {
    border: none;
}

/* QTableWidget*/
QTableWidget {
    border: 1px solid rgb(153, 153, 153);
    background: rgb(204, 204, 204);
}

QHeaderView::section {
    background-color: transparent;
    border: 1px solid rgb(153, 153, 153);
    border-left: none;
    border-top: none;
    height: 30px;
}

QHeaderView::section:last{
    border-right: none;
}

QTableWidget::item {
    background:rgb(179, 179, 179);
    height: 30px;
    border: 1px solid rgb(153, 153, 153);
    border-top:none;
    border-left:none;
}

QHeaderView::item:last{
    border-right: none;
}

QTableWidget::item::selected {
    color: white;
    background: rgb(0, 169, 255);
}

/* QCheckBox*/
QCheckBox {
    height: 24px;
}

QCheckBox::indicator {
    width:24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
}

QCheckBox::indicator:unchecked {
    image: url(:/resources/unchecked.png);
}

QCheckBox::indicator:checked {
    image: url(:/resources/checked.png);
}

QLabel#captureInfo {
    color: rgb(0, 169, 255);
}

QStatusBar {
    background: rgb(179, 179, 179);
}

CSROIWidget{
    background: transparent;
    /*border: 1px solid red;*/
}

/*QSpinBox*/
QSpinBox {
    border: 1px solid rgb(150, 150, 150);
    background-color: rgb(179, 179, 179);
    height: 26px;
    min-width: 50px;
    border-radius: 3px;
}

QSpinBox::up-button, QSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: top right;
    border-left: 1px solid rgb(150, 150, 150);
    width: 26px;
    margin: 0;
}

QSpinBox::down-button {
    subcontrol-position: bottom right;
}

QSpinBox::up-arrow {
    image: url(:/resources/triangle_arrow_up.png);
    width: 16px;
    height: 16px;
    padding-top: 2px;
}

QSpinBox::up-arrow:hover {
    image: url(:/resources/triangle_arrow_up_active.png);
}

QSpinBox::up-arrow:disabled, QSpinBox::up-arrow:off {
    image: url(:/resources/triangle_arrow_up.png);
}

QSpinBox::down-arrow {
    image: url(:/resources/triangle_arrow_down.png);
    width: 16px;
    height: 16px;
    padding-bottom: 2px;
}

QSpinBox::down-arrow:hover {
    image: url(:/resources/triangle_arrow_down_active.png);
}

QSpinBox::down-arrow:disabled, QSpinBox::down-arrow:off {
    image: url(:/resources/triangle_arrow_down.png);
}

/* QProgressBar*/
QProgressBar {
    height: 16px;
    border-radius: 4px;
    border: 1px solid rgb(179, 179, 179);
}

QProgressBar::chunk {
    background: rgb(0, 169, 255);
    border-radius: 4px;
}


